[DEFAULT]
maxretry = 3
bantime  = 3600
findtime = 600
backend  = auto

[sshd]
enabled  = true
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = 3

{% if inventory_hostname == 'web-server' %}
[nginx-http-auth]
enabled  = true
port     = http,https
filter   = nginx-http-auth
logpath  = /var/log/nginx/error.log
maxretry = 5
{% endif %}
